.btnEditSubr, .sub { -webkit-transition-duration: 200ms; transition-duration: 200ms; }

.btnEditSubr:hover { color: #4286F5; }

.sub:hover { text-shadow: 0 0 10px #CCC; }

.link, .listButton > span, .repliesButton, #addNewSubr, #removeSubr,
.subToRemove > div, .btnAddSub, #closeForm { cursor: pointer; }

/* Estilo las barras de scrolling (Desktop) */
::-webkit-scrollbar, #mainMenu::-webkit-scrollbar { width: 7px; }

/* Track Principal*/
::-webkit-scrollbar-track { border-radius: 10px; background-color: whiteSmoke; }

/* Handle Principal*/
::-webkit-scrollbar-thumb { border-radius: 10px; background: rgb(200, 200, 200); }

/* Track Menu*/
#mainMenu::-webkit-scrollbar-track { border-radius: 10px; background-color: #333; }

/* Handle Menu*/
#mainMenu::-webkit-scrollbar-thumb { border-radius: 10px; background: #444; }

.button:hover { border: 1px solid #888; background-image: -webkit-linear-gradient(top, #d1d1d1 50%, #a1a1a1 100%); }

.button:active { background-image: none; background-color: #777; }

#subTitle:hover { background-color: #999; border-radius: 5px; }

#mainWrap article {
    opacity: 0;
    position: relative;
    -webkit-animation: slideRight 100ms ease both;
    -webkit-animation-play-state: paused;
    animation: slideRight 100ms ease both;
    animation-play-state: paused;
}

#mainWrap.play article { -webkit-animation-play-state: running; animation-play-state: running; }

@-webkit-keyframes slideRight { 0% { opacity: 0; left: 30px; } 100% { opacity: 1; left: 0; } }

@keyframes slideRight { 0% { opacity: 0; left: 30px; } 100% { opacity: 1; left: 0; } }
