.btnEditSubr, .sub, .channel > p, #summaryTitle, .option, #sorting p { -webkit-transition-duration: 200ms; transition-duration: 200ms; }

.btnEditSubr:hover { color: #4286F5; }

.refresh-icon-FS:hover { background-color: rgba(0, 0, 0, 0.7); }

.sub:hover, .channel:hover > p, .option:hover, #sorting p:hover { text-shadow: 0 0 10px #CCC; }

.link, .sub, .channel, .listButton > span, #topButtons > div, .commentsButton, #addNewSubr, #removeSubr,
.itemToRemove > div, .btnAddSub, .closeForm, #btnAddNewChannel, .option, #sorting p, .refresh-icon-FS { cursor: pointer; }

#linkSummary a:hover #summaryTitle { text-shadow: 0 1px 7px whiteSmoke; }

/* Scrolling bars style */
::-webkit-scrollbar, #mainMenu::-webkit-scrollbar { width: 7px; }

/* Track Principal */
::-webkit-scrollbar-track { border-radius: 10px; background-color: whiteSmoke; }

/* Handle Principal */
::-webkit-scrollbar-thumb { border-radius: 10px; background: rgb(200, 200, 200); }

/* Track Menu */
#mainMenu::-webkit-scrollbar-track { border-radius: 10px; background-color: #333; }

/* Handle Menu */
#mainMenu::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #444; }

.button:hover {
	box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset,
				rgba(255, 255, 255, .3) 0 25px 30px -12px inset,
				rgba(0, 0, 0, .6) 0 1px 2px;
	background-image: -webkit-linear-gradient(#d1d1d1 50%, #a1a1a1 100%);
	background-image: -moz-linear-gradient(#d1d1d1 50%, #a1a1a1 100%);
	background-image: -o-linear-gradient(#d1d1d1 50%, #a1a1a1 100%);
	background-image: linear-gradient(#d1d1d1 50%, #a1a1a1 100%);

}

.button:active {
	background-image: -webkit-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	background-image: -moz-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	background-image: -o-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	background-image: linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	box-shadow: 0 2px 7px black inset,
				rgba(255, 255, 255, .4) 0 1px 0;
}

#subTitle:hover { background-color: rgba(0, 0, 0, 0.2); }

.channel > div p { font-size: 11px; letter-spacing: 1px; }