.btnEditSubr, .sub, .channel > p, #summaryTitle, .option, #sorting p { -webkit-transition-duration: 200ms; transition-duration: 200ms; }

.btnEditSubr:hover { color: #4286F5; }

.refresh-icon-FS:hover { background-color: rgba(0, 0, 0, 0.7); }

.sub:hover, .channel:hover > p, .option:hover, #sorting p:hover { text-shadow: 0 0 10px #CCC; }

.link, .sub, .channel, .listButton > span, #topButtons > div, .commentsButton, #addNewSubr, #removeSubr,
.itemToRemove > div, .btnAddSub, .closeForm, #btnAddNewChannel, .option, #sorting p, .refresh-icon-FS { cursor: pointer; }

#linkSummary a:hover #summaryTitle { text-shadow: 0 1px 7px whiteSmoke; }

/* Scrolling bars style */
::-webkit-scrollbar, #mainMenu::-webkit-scrollbar { width: 7px; }

/* Track Principal */
::-webkit-scrollbar-track { border-radius: 10px; background-color: whiteSmoke; }

/* Handle Principal */
::-webkit-scrollbar-thumb { border-radius: 10px; background: rgb(200, 200, 200); }

/* Track Menu */
#mainMenu::-webkit-scrollbar-track { border-radius: 10px; background-color: #333; }

/* Handle Menu */
#mainMenu::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #444; }

.button:hover { border: 1px solid #888; background-image: -webkit-linear-gradient(top, #d1d1d1 50%, #a1a1a1 100%); background-image: linear-gradient(top, #d1d1d1 50%, #a1a1a1 100%); }

.button:active { background-image: none; background-color: #777; }

#subTitle:hover { background-color: rgba(0, 0, 0, 0.2); }

.channel > div p { font-size: 11px; letter-spacing: 1px; }