* {
    color: #373737;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: white;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}

a { color: #999; }

.link:visited div .link-title { color: #888; }

/*--------------------- Vistas ---------------------------*/

.view {
    position: absolute;
    width: 100%;
    top: 44px; bottom: 0; left: 0; right: 0;
    z-index: 1;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.main-view, .detail-view {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    background-color: whiteSmoke;
}

.main-view {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.detail-view {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.wrapper {
    height: 100%;
    overflow-x: hidden; overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

/*--------------------- Comentarios ----------------------*/

#detail-wrap > section > .comment-wrap { padding-right: 10px; }

.comment-wrap {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#detail-wrap > section > .comment-wrap > div:first-child {
    padding: 10px 10px 0 10px;
    margin: -10px -10px 0;
    border-top: 1px solid #eee;
}

.comment-data { display: -webkit-box; display: -moz-box; display: box; width: 100%; }

.comment-data > div { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; width: 50%; }

.comment-author p { color: #D43030; font-weight: 700; }

.comment-poster p { color: #F75433; font-weight: 700; }

.comment-info { text-align: right; width: 50%; }

.comment-info a { color: #aaa; font-weight: 700; text-decoration: none; }

.comment-body p { margin: 10px 0; color: #3D525E; }

#link-summary { background-color: #777; padding: 10px 0 0; }

#link-summary:before {
    content: '';
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #777;
    -webkit-transform: translate3d(0, -300px, 0);
    -moz-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    background-image: url('../img/alienHead.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 90%;
    background-size: 25%;
}

#link-summary p { margin: 0; padding-left: 10px; }

#link-summary a { text-decoration: none; }

#summary-title {
    font-size: 16px;
    color: #fafafa;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 2px;
}

#summary-time { color: white; text-align: center; }

#summary-domain { color: #F75433; font-weight: 700; font-size: 13px; display: inline; }

#summary-author {
    color: #E2E2E0; font-weight: 700;
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1;
}

#share-tw { /* Share button position */
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1;
    margin-right: 10px;
}

#summary-sub { color: #FAFAFA; text-align: left; }

#summary-comment-num { text-align: right; text-decoration: none; display: block; }

#summary-extra {
    display: -webkit-box; display: -moz-box; display: box;
    background-color: #333;
    font-weight: 700;
    padding: 0 10px;
    width: 100%;
}

#summary-extra p, #summary-comment-num {
    color: #FAFAFA;
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1;
    margin: 0;
    padding: 5px 0;
    width: 33%;
}

#summary-footer {
    display: -webkit-box; display: -moz-box; display: box;
    padding-bottom: 10px;
    padding-top: 2px;
}

#selftext {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #DDD;
    -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text;
}

#selftext p { margin-top: 5px; }

#selftext p:last-child { margin-bottom: 5px; }

.image-preview {
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/*--------------------- Menu -----------------------------*/

#main-menu { box-shadow: inset -3px 0 10px black; height: 92%; }

.main-view.show-menu {
    -webkit-transform: translate3d(140px, 0px, 0px);
    transform: translate3d(140px, 0px, 0px);
}

#edit-subs {
    position: fixed;
    bottom: 0;
    width: 140px;
    background-color: #222;
    z-index: 1;
    height: 8%;
    border-top: 1px solid rgba(0, 0, 0, .5);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    text-align: center;
}

.btn-edit-sub {
    font-weight: 700;
    text-align: center;
    width: 45%;
    font-size: 25px;
    color: #777;
    display: inline-block;
    margin: 0;
}

#subs, #channels { padding: 0; margin: 0; cursor: default; }

.sub {
    color: whiteSmoke;
    margin: 0;
    font-size: 14px;
    padding: 10px 10px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel { margin: 0; font-size: 14px; padding: 5px 10px; }

.channel > p { color: whiteSmoke; margin: 0; }

.channel > div { padding-left: 10px; }

.channel > div p {
    font-size: 13px;
    color: #BBB;
    margin: 5px 0;
    text-transform: capitalize;
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}

.channel-active { border-left: 3px solid #4286F5; }

.channel-active > p { text-shadow: 0 0 10px #CCC; }

.sub-active { text-shadow: 0 0 10px #CCC; border-left: 3px solid #4286F5; }

#menu-container {
    overflow-y: auto; overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    width: 140px;
    z-index: 0;
    height: 100%;
    background-color: #363636;
    background-image: url('../img/darkdenim3.png');
}

#sorting p {
    color: whiteSmoke;
    margin: 0;
    padding: 8px 10px;
    text-transform: capitalize;
}

.sorting-choice { border-left: 3px solid; }

#main-overflow { width: 100%; }

/*--------------------- Principal -------------------------*/

.link {
    display: -webkit-box; display: -moz-box; display: box;
    text-decoration: none;
    width: 85%;
    padding: 10px;
    cursor: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}

.link-wrap {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    display: -webkit-box; display: -moz-box; display: box;
    width: 100%;
}

.link-wrap:first-child { border-top: 0; }

.link-thumb {
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
}

.link-thumb div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
    background-color: #333;
    height: 60px;
    width: 60px;
    margin: 0;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px #333;
}

.link-title {
    font-weight: 600;
    font-size: 15px;
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1;
    margin: 0;
    color: #3D525E;
}

.link-info {
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1;
    width: 67%;
}

.link-domain { margin: 0; color: #D43030; }

.link-sub { margin: 0; color: #777; display: inline; }

.link-active,
.link-selected {
    background-image: -webkit-linear-gradient(top, #4286F5, #194FDB);
    background-image: -moz-linear-gradient(top, #4286F5, #194FDB);
    background-image: linear-gradient(top, #4286F5, #194FDB);
}

.link-active .link-title,
.link-selected .link-title { color: white; text-shadow: 0 1px 0 #000; }

.link-active .link-domain,
.link-active .link-sub,
.link-selected .link-domain,
.link-selected .link-sub,
#channels .link-active div p { color: #ADD0EB; }

.link-nsfw {
    font-size: 11px;
    margin-left: 5px;
    color: #D13;
    font-weight: 700;
    display: inline;
}

.summary-nsfw {
    background-color: #D13;
    color: white;
    border-radius: 5px;
    padding: 1px 3px;
}

.link-active:visited .link-info .link-title { color: whiteSmoke; }

.list-button { padding: 20px; }

.list-button > span {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.top-buttons {
    padding: 10px 20px;
    border-bottom: 1px solid #CCC;
}

.top-buttons > div {
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    display: inline-block;
}

.top-buttons div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.top-buttons div:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#btn-update {
    display: block;
    width: 100%;
}

.comments-button, .top-buttons > div, .list-button > span, .btn-general {
    color: #555;
    background-image: -webkit-linear-gradient(whiteSmoke 0%, #CCC 100%);
    background-image: -moz-linear-gradient(whiteSmoke 0%, #CCC 100%);
    background-image: -o-linear-gradient(whiteSmoke 0%, #CCC 100%);
    background-image: linear-gradient(whiteSmoke 0%, #CCC 100%);
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset,
                rgba(255, 255, 255, .3) 0 25px 30px -12px inset,
                rgba(0, 0, 0, .6) 0 1px 2px;
}

.btn-general {
    background-color: #BBB;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.btn-general-active {
    background-image: -webkit-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
    background-image: -moz-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
    background-image: -o-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
    background-image: linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
    box-shadow: 0 2px 7px black inset,
                rgba(255, 255, 255, .4) 0 1px 0;
    color: #f5f5f5;
}

/*---------------------------- Cabecera -----------------------------*/

header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: -webkit-box; display: -moz-box; display: box;
    height: 44px;
    border-bottom: 1px solid #777;
    border-top: 1px solid white;
    background-color: #eff0f3;
    background-image: url(../img/bg.png);
    box-shadow: 0 -25px 24px -10px rgba(0, 0, 0, .3) inset;
}

header > div {
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1;
    width: 70%;
    display: -webkit-box; display: -moz-box; display: box;
    -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;
}

#title {
    color: #333;
    text-shadow: 0 1px 1px white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    cursor: default;
}

#header-icon {
    background-image: url('../img/alienHead.png');
    background-size: 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    margin: 0 auto;
}

/*-- Botones --*/

#nav-back {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.corner {
    width: 15%;
    -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1;
    display: -webkit-box; display: -moz-box; display: box;
    -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;
}

.button {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(top, #ff6600 50%, #e32918 90%);
    background-image: -moz-linear-gradient(top, #ff6600 50%, #e32918 90%);
    background-image: linear-gradient(top, #ff6600 50%, #e32918 90%);
    border-top: 1px solid rgb(255, 179, 129);
    border-bottom: 1px solid rgb(136, 24, 14);
}

#refresh-icon div {
    background-image: url('../img/refresh.png');
    width: 14px; height: 18px;
    background-repeat: no-repeat;
    background-size: 14px;
    margin: 0 auto;
}

#back-arrow, #refresh-icon {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}

#back-arrow div {
    border-bottom: 7px solid transparent;
    border-right: 14px solid white;
    border-top: 7px solid transparent;
    height: 0;
    width: 0;
    margin: 0 auto;
}

.to-comments {
    width: 15%;
    display: -webkit-box; display: -moz-box; display: box;
    -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;
    -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}

.to-comments div {
    background-image: url('../img/comment_24.png');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    margin: 0 auto;
}

.button-active { background-color: #ddd; }

.comments-button {
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    display: block;
    text-align: center;
    width: 90px;
    margin: 0 auto;
}

.replies-button-active, .list-button-active {
    background-image: -webkit-linear-gradient(top, #ccc 0%, #777 100%) !important;
    background-image: -moz-linear-gradient(top, #ccc 0%, #777 100%) !important;
    background-image: linear-gradient(top, #ccc 0%, #777 100%) !important;
    color: white !important;
}

#main-title {
    position: fixed;
    width: 40%;
    font-size: 15px;
    top: 12px;
    font-weight: 700;
    cursor: default;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sub-title {
    margin: 0 0 0 5px;
    padding: 0 5px;
    color: #333;
    text-shadow: 0 1px 1px whiteSmoke;
    border-radius: 5px;
}

.sub-title-active { text-shadow: 0 1px 7px whiteSmoke !important; background-color: rgba(0, 0, 0, 0.2) !important; }

#wide-refresh { padding: 5px 10px; font-size: 15px; }

/*--- Subreddits ---*/

.subreddit {
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid white;
    display: -webkit-box; display: -moz-box; display: -ms-box; display: box;
    width: 100%;
}

.subreddit > div:first-child {
    width: 85%;
    padding: 10px 5px 10px 0;
    -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}

.btn-add-sub {
    width: 15%;
    display: -webkit-box; display: -moz-box; display: -ms-box; display: box;
    -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;
    -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}

.btn-add-sub > div {
    background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

.subreddit-desc { margin: 5px 0; }

.subreddit-title {
    font-weight: 700;
    font-size: 15px;
    margin: 5px 0;
    color: #D43030;
}

.new-form {
    width: 300px;
    background-color: #ddd;
    box-shadow: 0 0 15px black;
    position: absolute;
    z-index: 10000;
    border-radius: 7px;
    padding: 5px;
    left: 50%;
    margin-left: -150px;
}

#form-new-channel { min-height: 160px; top: 55px; }

#form-new-channel input {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    outline: none;
}

#subs-for-channel {
    border-radius: 5px 5px 0 0;
    border: 1px solid #aaa;
    border-bottom: 0; margin-top: 5px; padding: 0 10px; background-color: #FFF;
    max-height: 160px; overflow-y: auto;
}

#subs-for-channel input {
    border: 0;
    border-bottom: 1px solid #CCC;
    padding: 5px;
}

#subs-for-channel input:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
}

#txt-channel {
    border: 2px solid #AAA !important;
    border-radius: 5px;
    padding: 5px 10px;
}

#btn-add-new-channel { padding: 5px 10px; }

#btn-add-another-sub {
    background-color: #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    color: #FFF;
    border: 1px solid #aaa;
    border-top: 0;
}

.channel-added-msg {
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    margin: 0;
    background-color: #33B300;
    border-radius: 5px;
}

#form-new-sub { height: 50px; top: 50%; margin-top: -100px; }

#form-new-sub input { width: 100%; height: 40px; font-size: 20px; outline: none; }

#add-sub-manual { padding: 10px; }

#remove-wrap { height: 100%; }

#remove-title {
    padding: 10px;
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    text-align: center;
    color: #777;
    background-color: rgba(220, 220, 220, 0.4);
    text-shadow: 0 1px 1px whiteSmoke;
}

.remove-list { margin: 0; padding: 0; }

.item-to-remove {
    display: -webkit-box; display: -moz-box; display: -ms-box; display: box;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid white;
    -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; box-align: center;
    height: 60px;
}

.item-to-remove > p {
    width: 85%;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}

.item-to-remove > div {
    background-image: url('../img/delete.png');
    width: 15%;
    height: 100%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

/*--- Constantes ---*/

.invisible { opacity: 0; }

.show-view {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#modal {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,.7);
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;
    z-index: 9999;
}

.close-form {
    position: absolute;
    top: -30px;
    z-index: 10001;
    right: 0;
    color: whiteSmoke;
    background-image: url('../img/cancel.png');
    width: 60px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-weight: 700;
    background-size: 18px;
}

.form-left-corner {
    position: absolute;
    top: -30px;
    z-index: 10001;
    left: 0;
}

#no-link { margin: 50% auto; width: 140px; }

#no-link p { font-size: 16px; text-shadow: 0 1px 1px white; }

.option {
    color: whiteSmoke;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}

.option:last-child { margin-bottom: 15px; }

.menu-desc {
    color: rgba(255, 255, 255, 0.82);
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 0px;
    margin: 0px;
    width: 100%;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.20);
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    cursor: default;
}

.about-reeddit, .move-data { top: 80px; }

.about-reeddit ul { list-style: none; padding: 0; }

.about-reeddit li { font-size: 18px; text-align: center; }

.about-reeddit li a:hover { color: inherit; }

.about-reeddit li:first-child a { border-top: 0; }

.about-reeddit li:last-child a { border-bottom: 0; }

.about-reeddit p a { text-decoration: none; color: #777; }

.about-reeddit li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 0 1px 1px white;
    padding: 12px;
    display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid #999;
    color: #777;
}

.about-reeddit p {
    color: #777;
    text-shadow: 0 1px 1px white;
    font-size: 12px;
    text-align: center;
}

.refresh-icon-FS {
    background-image: url('../img/refresh.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    border-radius: 5px;
    display: none;
}

.move-data { padding: 20px; }

.move-data .btn-general { line-height: 26px; }

.move-data h3,
.move-data p { text-shadow: 0 1px 0 #fff; }

.move-data h3 { text-align: center; margin: 5px 0; }

.move-data p { text-align: left; margin: 10px 0; }

.move-data-field { width: 100%; height: 70px; }

#btn-import-data {
    width: 70%;
    text-align: center;
    margin: 5px auto;
}

#btn-save-dbx { display: none; }

.msg-error {
    background-color: #bbb;
    padding: 5px;
    border-radius: 4px;
    text-shadow: none;
    font-weight: bold;
}

/* Here be da smooths */
@-webkit-keyframes reveal { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes reveal { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal { 0% { opacity: 0; } 100% { opacity: 1; } }

.anim-reveal {
    opacity: 0;
    -webkit-animation: reveal 700ms ease both;
    -moz-animation: reveal 700ms ease both;
    animation: reveal 700ms ease both;
}

/* Loading-stuff animation */
.loader {
    margin: 15px auto;
    background-color: #333;
    color: #777;
    width: 15px;
    height: 15px;
    border-radius: 90px;
    -webkit-animation: loading 1000ms ease 150ms infinite;
    animation: loading 1000ms ease 150ms infinite;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    display: block;
}

.loader-error {
    width: 100%;
    -webkit-animation: none;
    animation: none;
    background-color: transparent;
}

@-webkit-keyframes loading {
    0% { opacity: 1; -webkit-transform: scale(1); }
    100% { opacity: 0; -webkit-transform: scale(2); }
}

@keyframes loading {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(2); }
}

/* Mnml Theme */

.mnml { font-family: -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.mnml .comment-author p { font-weight: 500; }

.mnml .comment-info a { font-weight: 400; }

.mnml #link-summary { background-color: #262b30; }

.mnml #link-summary:before { background-color: #262b30; }

.mnml #summary-extra { background-color: rgba(0, 0, 0, 0.4); }

.mnml #main-menu { box-shadow: none; }

.mnml .channel-active { border-left: 3px solid #3d6fba; }

.mnml #menu-container { background-color: #262b30; background-image: none; }

.mnml .link-wrap { border-top: 0; }

.mnml .link-thumb div { box-shadow: none; }

.mnml .link-active, .mnml .link-selected {
    background-image: -webkit-linear-gradient(top, #599ad2, #3d6fba);
    background-image: -moz-linear-gradient(top, #599ad2, #3d6fba);
    background-image: linear-gradient(top, #599ad2, #3d6fba);
 }

.mnml .list-button > span { background-color: transparent; }

.mnml .top-buttons > div {
    background-color: #ddd;
    border: 1px solid #bbb;
    box-shadow: 0 1px 0 #fff;
}

.mnml .comments-button,
.mnml .top-buttons > div,
.mnml .list-button > span,
.mnml .btn-general {
    background-color: #ddd;
    border: 1px solid #bbb;
    background-image: none;
    box-shadow: none;
}

.mnml .btn-general {
    border-radius: 4px;
}

.mnml .btn-general-active {
    background-color: #ccc;
    background-image: none;
    box-shadow: none;
}

.mnml header {
    border-bottom: 1px solid #bbb;
    background-color: #e6e6e8;
    border-top: 0;
    background-image: none;
    box-shadow: none;
}

.mnml #header-icon { opacity: .7; }

.mnml .main-view, .mnml .detail-view { background-color: #f8f8f8; }

.mnml .button {
    height: 43px;
    width: 100%;
    margin: 0;
    background-image: none;
    border-top: 0;
    border-bottom: 0;
}

.mnml #refresh-icon div { background-image: url('../img/refresh1.png'); }

.mnml #back-arrow div { border-right: 12px solid #333; }

.mnml .button-active { background-color: #ccc; }

.mnml .replies-button-active, .mnml .list-button-active {
    background-color: #ccc !important;
    background-image: none !important;
}

.mnml #main-title { top: 0px; }

.mnml #sub-title {
    margin: 0;
    padding: 0 10px;
    line-height: 44px;
    text-shadow: none;
    border-radius: 0;
}

.mnml .sub-title-active {
    text-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.mnml .corner-active { background-color: rgba(0, 0, 0, 0.3); }

.mnml .subreddit, .mnml .item-to-remove { border-top: 0; }

.mnml .menu-desc {
    color: #ccc;
    text-shadow: none;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
}

.mnml #edit-subs {
    box-shadow: none;
    border-top: 0;
}

@media only screen and (min-width: 350px) and (min-height: 500px) {

    header {
        background-color: #e7e7e7;
        border-bottom: 1px solid #333;
        border-top: 0;
        box-shadow: rgba(255, 255, 255, .5) 0 32px 20px -10px inset,
                    0 44px 0 rgba(0, 0, 0, .33) inset;
    }

    .button { border: none; background-image: none; }

    #back-arrow:active div { border-right: 12px solid #fff; }

    #back-arrow div { border-bottom: 6px solid transparent; border-right: 12px solid #333; border-top: 6px solid transparent; }

    #refresh-icon div { background-image: url('../img/refresh1.png'); }

    #refresh-icon:active div { background-image: url('../img/refresh.png'); }

    .sub-title-active { text-shadow: 0 -1px 1px whiteSmoke !important; }

    .main-view, .detail-view { background-color: #fafafa; }

    #main-menu { height: 95%; }

    .sub { padding: 9px 10px; }

    .link-wrap { border-bottom: 1px solid #ddd; }

    #edit-subs { height: 5%; }

    #subs-for-channel { max-height: 250px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    .to-comments div { background-image: url('../img/comment_48.png'); }

    .btn-add-sub > div { background-image: url('../img/add@2.png'); }
}

/* Tablet Portrait / 'LargeScreen' */
@media only screen and (min-width: 490px) and (min-height: 500px) {

    .main-view {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

@media only screen and (min-width: 490px) and (max-width: 759px) and (min-height: 500px) {

    #menu-container, #edit-subs { width: 28%; }

    .image-preview { width: 80%; }

    .main-view, .detail-view { left: 28%; width: 72%; }
}

@media only screen and (min-width: 760px) and (max-width: 999px) and (min-height: 500px) {

    #menu-container, #edit-subs { width: 22%; }

    .image-preview { width: 60%; }

    .main-view, .detail-view { left: 22%; width: 78%; }
}

/* Tablet Landscape / 'WideScreen' */
@media only screen and (min-width: 1000px) and (min-height: 500px) {

    #menu-container, #edit-subs { width: 16%; }

    .main-view {
        width: 34%;
        left: 16%;
    }

    .detail-view {
        width: 50%;
        right: 0; left: auto;
        border-left: 1px solid #555;
        -webkit-transform: none;
        transform: none;
    }

    header, .to-comments { display: none; }

    .link { width: 100%; }

    .view { top: 0; }

    .image-preview { width: 70%; }

    .comment-wrap, #selftext p { font-size: 14px; }

    .refresh-icon-FS { display: block; }
}

/* Wide-ass stuff */
@media only screen and (min-width: 1500px) {
    .image-preview { width: 50%; }
}

/* Landscape phone */

@media only screen and (max-height: 280px) {
    header { height: 32px; }

    .view { top: 32px; }

    #title { font-size: 16px; }

    #refresh-icon div { width: 15px; height: 20px; }

    .button { width: 25px; height: 25px; }

    #main-title { top: 6px; }

    .btn-edit-sub { margin: -10px 0; }

    #subs-for-channel { max-height: 130px; }
}

@media only screen and (min-height: 890px) {
    #main-menu { height: 96%; }

    #edit-subs { height: 4%; }
}

@-moz-document url-prefix() { /* Firefox only - layout hacks (TODO: update to new flexbox) */

    #remove-sub, .item-to-remove > div, .to-comments, #share-tw { float: right; }

    #add-new-sub, .item-to-remove > p, .corner, header > div, #summary-author { float: left; }

    .item-to-remove { width: 100%; }

    .link-wrap, #back-arrow, #refresh-icon, .item-to-remove, #summary-footer { display: block; }

    .to-comments { padding-top: 30px; }

    header { padding-top: 5px; }

    #refresh-icon > div { position: relative; top: 5px; }

    #back-arrow > div { position: relative; left: -2px;  top: 8px; }

    .subreddit { display: table; }

    .subreddit > div:first-child { display: table-cell; }

    .btn-add-sub { display: table-cell; vertical-align: middle; }

    .refresh-icon-FS { right: 20px; }

    #share-tw { margin-bottom: 7px; }

    #title { line-height: 28px; }

    .mnml .button { height: 34px; }
}