
.new-form {
	width: 300px;
	background-color: #ddd;
	box-shadow: 0 0 15px black;
	position: absolute;
	z-index: 10000;
	border-radius: 7px;
	padding: 5px;
	left: 50%;
	margin-left: -150px;
}

#form-new-channel {

	min-height: 160px;
	top: 55px;

	input {
		width: 100%;
		margin-top: 5px;
		font-size: 15px;
		outline: none;
	}
}

#subs-for-channel {
	border-radius: 5px 5px 0 0;
	border: 1px solid #aaa;
	border-bottom: 0;
	margin-top: 5px;
	padding: 0 10px;
	background-color: #FFF;
	max-height: 160px;
	overflow-y: auto;

	@include break-point-min($bp-small) {
		max-height: 250px;
	}

	input {
		border: 0;
		border-bottom: 1px solid #CCC;
		padding: 5px;

		&:last-child {
			border-bottom: 0;
			padding-bottom: 10px;
		}
	}
}

#txt-channel {
	border: 2px solid #AAA !important;
	border-radius: 5px;
	padding: 5px 10px;
}

.channel-added-msg {
	padding: 5px 10px;
	background-color: #33B300;
	border-radius: 5px;
}

#form-new-sub {
	height: 50px;
	top: 50%;
	margin-top: -100px;

	input {
		@include size(100%, 40px);
		font-size: 20px;
		outline: none;
	}
}

.close-form {
	$size: 35px;
	@include size($size);
	position: absolute;
	top: -$size;
	right: 0;
	z-index: 10001;
	color: #F5F5F5;
	font-size: 30px;
	line-height: 28px;
	-webkit-touch-callout: none;
}

.form-left-corner {
	position: absolute;
	top: -35px;
	z-index: 10001;
	left: 0;
}

.move-data {
	top: 80px;
	padding: 20px;

	h3,
	p {
		text-shadow: 0 1px 0 #fff;
	}

	h3 {
		text-align: center;
		margin: 5px 0;
	}

	p {
		text-align: left;
		margin: 10px 0;
	}
}

.msg-error {
	background-color: #bbb;
	padding: 5px;
	border-radius: 4px;
	text-shadow: none;
}
