// vars

$footer-height: 32px;

// mixins

@mixin box-align($pos) {
	-webkit-box-align: $pos;
	-moz-box-align: $pos;
	-ms-box-align: $pos;
	box-align: $pos;
}

@mixin user-select($val) {
	-webkit-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val;
	user-select: $val;
}

@mixin size($w, $h: $w) {
	width: $w;
	height: $h;
}

// constants

%box-flex-1 {
	$flex: 1;
	-webkit-box-flex: $flex;
	-moz-box-flex: $flex;
	-ms-box-flex: $flex;
	box-flex: $flex;
}

%transition-300ms {
	$t: 300ms;
	-webkit-transition-duration: $t;
    -moz-transition-duration: $t;
    -o-transition-duration: $t;
    -ms-transition-duration: $t;
    transition-duration: $t;
}

%flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}

.invisible {
	opacity: 0;
}

.hide {
    display: none !important;
}