/* Firefox only - layout hacks (TODO: update to new flexbox) */
@-moz-document url-prefix() {
    #remove-sub,
	.item-to-edit > div,
	.to-comments,
	#share-tw {
		float: right;
	}

    #btn-add-subs,
	.item-to-edit > p,
	.corner,
	header > div,
	#summary-author {
		float: left;
	}

    .item-to-edit {
		width: 100%;
	}

    .link-wrap,
	#back-arrow,
	#refresh-icon,
	.item-to-edit,
	#summary-footer {
		display: block;
	}

    .to-comments {
		padding-top: 30px;
	}

    header {
		padding-top: 5px;
	}

    #refresh-icon > div {
		position: relative;
		top: 5px;
	}

    #back-arrow > div {
		position: relative;
		left: -2px;
		top: 8px;
	}

    .subreddit {
		display: table;

		> div:first-child {
			display: table-cell;
		}
	}

    .btn-add-sub {
		display: table-cell;
		vertical-align: middle;
	}

    #share-tw {
		margin-bottom: 7px;
	}

    #title {
		line-height: 28px;
	}

    .mnml .button {
		height: 34px;
	}

	.comment-data {
		display: flex;
	}

	.comment-info {
		flex-grow: 1;
	}

	.comment-author,
	.comment-poster {
		flex-grow: 1;

		p {
			display: inline;
		}
	}
}