.btn-edit-sub, .sub, .channel > p, #summary-title, .option, #sorting p {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.btn-edit-sub:hover {
	color: #4286F5;
}

.sub:hover, .channel:hover > p, .option:hover, #sorting p:hover {
	text-shadow: 0 0 10px #CCC;
}

.link, .sub, .channel, .list-button > span, .top-buttons > div, .comments-button, #add-new-sub, #remove-sub, .item-to-remove > div, .btn-add-sub, .close-form, #btn-add-new-channel, .option, #sorting p, .btn-general {
	cursor: pointer;
}

#link-summary a:hover #summary-title {
	text-shadow: 0 1px 7px whiteSmoke;
}

@import "desk-webkit-bars";

.button:hover {
	box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset,
				rgba(255, 255, 255, .3) 0 25px 30px -12px inset,
				rgba(0, 0, 0, .6) 0 1px 2px;
	background-image: -webkit-linear-gradient(#d1d1d1 50%, #a1a1a1 100%);
	background-image: -moz-linear-gradient(#d1d1d1 50%, #a1a1a1 100%);
	background-image: -o-linear-gradient(#d1d1d1 50%, #a1a1a1 100%);
	background-image: linear-gradient(#d1d1d1 50%, #a1a1a1 100%);

}

.button:active,
.btn-general:active {
	background-image: -webkit-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	background-image: -moz-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	background-image: -o-linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	background-image: linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
	box-shadow: 0 2px 7px black inset,
				rgba(255, 255, 255, .4) 0 1px 0;
}

.btn-general:hover,
.btn-general:visited {
	color: #555;
}

.btn-general:active {
	color: #f5f5f5;
}

#sub-title:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.channel > div p {
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 15px;
	margin: 4px 0;
}

@import "desk-themes";