div#detail-footer.view-footer

	div#detail-close.btn-footer.btn-to-main.hide &times;

	p#footer-post.footer-post-title

	div(class="btn-footer footer-refresh btn-refresh hide", data-origin="footer-detail")
