div#main-footer.view-footer

	include sort-switch

	p#footer-sub.footer-sub-title

	a(href='#' class="btn-footer no-ndrln clr-current flx flx-cntr-x flx-cntr-y footer-refresh icon-refresh js-btn-refresh", data-origin="footer-main")
