div(id='main-footer', class='view-footer flx@wide flx-cntr-y flx-spc-btwn-x')

	include sort-switch

	p(id='footer-sub', class='footer-sub-title blck mrgn-cntr-x txt-cntr txt-bld')

	a(href='#', class="btn-footer no-ndrln clr-current flx flx-cntr-x flx-cntr-y no-tch-cllt footer-refresh icon-refresh js-btn-refresh", data-origin="footer-main")
