div(id='detail-footer', class='view-footer flx@wide flx-cntr-y flx-spc-btwn-x')

	a(href='#', id='detail-close', class='no-ndrln clr-current btn-footer no-tch-cllt hide') &times;

	span(id='footer-post', class='footer-post-title blck mrgn-cntr-x txt-cntr txt-bld')

	a(href='#rfrsh', class="btn-footer clr-current no-ndrln flx flx-cntr-x flx-cntr-y footer-refresh icon-refresh js-btn-refresh no-tch-cllt hide", data-origin="footer-detail")
