div#detail-footer.view-footer

	a(href='#', id='detail-close', class='no-ndrln clr-current btn-footer js-btn-to-main hide') &times;

	p#footer-post.footer-post-title

	a(href='#', class="btn-footer clr-current no-ndrln flx flx-cntr-x flx-cntr-y footer-refresh icon-refresh js-btn-refresh hide", data-origin="footer-detail")
