header

	div(id='main-title' class='txt-bld')
		a(href='#', id='sub-title', class='sub-title no-ndrln clr-current no-tch-cllt')

	a(href='#', id='nav-back', class='w-15 flx flx-cntr-x flx-cntr-y no-ndrln header-corner no-tch-cllt trnsprnt invisible')
		span(class='back-arrow-icon')

	div(id='title-head')
		div(id='header-icon')
		div(id='title', class='txt-bld txt-cntr')

	a(href='#', class='w-15 clr-current flx flx-cntr-x flx-cntr-y no-ndrln header-corner no-tch-cllt icon-refresh js-btn-refresh')
