header

	div#main-title
		p#sub-title.sub-title

	div#nav-back.header-corner.invisible
		div.btn-to-main.back-arrow-btn
			span.back-arrow-icon

	div#title-head
		div#header-icon
		p#title

	div.header-corner.btn-refresh.icon-refresh
