head
	meta(charset="utf-8")

	title Reeddit

	meta(name="description", content="Elastic, minimal Reddit web-app reader client.")
	meta(name="author", content="Bernardo Baquero Stand")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
	meta(name="mobile-web-app-capable", content="yes")

	link(rel="icon", type="image/png", href="img/favicon.png")
	link(rel="apple-touch-icon-precomposed", sizes="144x144", href="img/icon144.png")

	link(rel="stylesheet", href="dist/app.min.css")

	include ga-script
