nav#menu-container

	div.view
		div#edit-subs
			span#btn-add-subs.btn-edit-sub +
			span#btn-edit-subs.btn-edit-sub •••

		div#main-menu.wrapper
			div.menu-desc Subreddits
				span#btn-new-sub.btn-side-menu-add +

			ul#subs

			div.menu-desc Channels
				span#btn-new-channel.btn-side-menu-add +

			ul#channels

			div.menu-desc Options
			div.option.pad-x.pad-y#about About
			div.option.pad-x.pad-y#exp-data Export Data
			div.option.pad-x.pad-y#imp-data Import Data
			div.option.pad-x.pad-y#switch-theme Theme
