div.sorter-wrap

	a(href='#', class='sort-switch no-tch-cllt js-sort-switch-main no-ndrln blck')
		div.sort-switch__overlay
			div.sort-switch__wrap.js-sort-switch-wrap
				span.sort-switch__label.sort-switch__label--hot hot
					span.sort-switch__icon.sort-switch__icon--hot &#9679;
				span.sort-switch__label.sort-switch__label--new new
					span.sort-switch__icon.sort-switch__icon--new &#9679;
