div.sorter-wrap

	div.sort-switch.js-sort-switch-main
		div.sort-switch__overlay
			div.sort-switch__wrap.js-sort-switch-wrap
				span.sort-switch__label.sort-switch__label--hot hot
				span.sort-switch__label.sort-switch__label--new new
