// Display

.blck {
	display: block;
}

// Text

.no-ndrln {
	text-decoration: none;
}

// Layout

.pad-x {
	padding-left: 10px;
	padding-right: 10px;
}

.pad-y {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mrgn-x {
	margin-left: 10px;
	margin-right: 10px;
}

.mrgn-y {
  margin-top: 10px;
  margin-bottom: 10px;
}
