// vars
$header-height: 44px;
$footer-height: 32px;

// Colors
$white:         #ffffff;
$black:         #333333;
$red:           #d43030;
$blue--grayish: #7a9abd;

$red-comments:            $red;
$c_comments-link:         $blue--grayish;
$c_comments-link-visited: #a3adce;

$gutter: 10px;

$corner-radius: 3px;

// Mixins
@mixin size($w, $h: $w) {
	width: $w;
	height: $h;
}

// Intentions
%completely-center--translate {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

%block-spacing {
	padding: 10px;
}

%full-width {
	width: 100%;
}

.invisible {
	opacity: 0;
}

.hide {
    display: none !important;
}
