#nav-back {
    transition-duration: 300ms;
}

.corner {
    display: box;
    width: 15%;
}

.button {
    @include size(100%, $header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

#refresh-icon {
    @include size(100%, $header-height);
    background-image: url("../img/refresh.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 14px;
    margin: 0 auto;
}

.back-arrow-icon {
    @include size(0);
    // Icon Shape
    border-bottom: 7px solid transparent;
    border-right: 14px solid white;
    border-top: 7px solid transparent;
}

.to-comments {
    display: flex;
    align-items: center;
    width: 15%;
}

.comments-icon {
    @include size(24px);
    background-image: url('../img/comment_24.png');
    background-repeat: no-repeat;
    background-size: 24px;
    margin: 0 auto;
}

.button-active {
	background-color: #ddd;
}

.comments-button {
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    display: block;
    text-align: center;
    width: 90px;
    margin: 0 auto;
}

.replies-button-active,
.list-button-active {
    background-image: linear-gradient(#ccc 0%, #777 100%) !important;
    color: white !important;
}

.list-button {
	padding: 20px;

	> span {
	    padding: 5px 10px;
	    border-radius: 5px;
	    font-size: 14px;
	    font-weight: 700;
	    text-align: center;
	    display: block;
	    width: 80%;
	    margin: 0 auto;
	}
}

.top-buttons {

    padding: 10px 20px;
    border-bottom: 1px solid #CCC;

    > div {
	    padding: 3px 10px;
	    font-size: 14px;
	    font-weight: 700;
	    width: 50%;
	    text-align: center;
	    display: inline-block;
	}

	div:first-child {
	    border-top-left-radius: 4px;
	    border-bottom-left-radius: 4px;
	}

	div:last-child {
	    border-top-right-radius: 4px;
	    border-bottom-right-radius: 4px;
	}
}

#btn-update {
    display: block;
    width: 100%;
}

.comments-button,
.top-buttons > div,
.list-button > span,
.btn-general {
    color: #555;
    background-image: linear-gradient(whiteSmoke 0%, #CCC 100%);
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset,
                rgba(255, 255, 255, .3) 0 25px 30px -12px inset,
                rgba(0, 0, 0, .6) 0 1px 2px;
}

.btn-general {
    background-color: #BBB;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.btn-general-active {
    background-image: linear-gradient(#3f3f3f 50%, #4b4b4b 100%);
    box-shadow: 0 2px 7px black inset,
                rgba(255, 255, 255, .4) 0 1px 0;
    color: #f5f5f5;
}

#btn-add-new-channel {
	padding: 5px 10px;
}

#btn-add-another-sub {
    background-color: #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    color: #FFF;
    border: 1px solid #aaa;
    border-top: 0;
}

#btn-import-data {
    width: 70%;
    text-align: center;
    margin: 5px auto;
}

#btn-save-dbx {
	display: none;
}

.btn-add-sub {
    width: 15%;

	> div {
        @include size(24px);
	    background-image: url('../img/add.png');
	    background-repeat: no-repeat;
	    background-size: 24px;
	    margin: 0 auto;
	}
}

.btn-side-menu-add {
    position: absolute;
    right: 0;
    padding: 0 13px 7px 10px;
    color: #777;
    font-size: 24px;
    line-height: 30px;
}

#btn-edit-subs {
    right: 0;
    font-size: 20px;
    line-height: 34px;
}
