/* Mnml Theme */

.mnml {

	#main-menu::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #262b30;
	}

	#main-menu::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.btn-general:active {
		background-image: none;
		box-shadow: none;
	}
}
