header {
	@include size(100%, 44px);
	display: flex;
	align-content: center;
	top: 0;
	position: fixed;
	z-index: 2;
	border-bottom: 1px solid #777;
	border-top: 1px solid white;
	background-color: #eff0f3;
	background-image: url(../img/bg.png);
	box-shadow: 0 -25px 24px -10px rgba(0, 0, 0, .3) inset;

	> div {
		width: 70%;
	}

	@include break-point-min($bp-small) {
		background-color: #e7e7e7;
		border-bottom: 1px solid #333;
		border-top: 0;
		box-shadow: rgba(255, 255, 255, .5) 0 32px 20px -10px inset,
					0 44px 0 rgba(0, 0, 0, .33) inset;
	}

	@include break-point-min($bp-wide) {
		display: none;
	}
}

.header-corner {
	display: flex;
	width: 15%;
	transition-duration: 300ms;
}

#title {
	color: #333;
	text-shadow: 0 1px 1px white;
	text-align: center;
	font-size: 20px;
	line-height: $header-height;
	width: 100%;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 700;
	cursor: default;
}

#header-icon {
	@include size(36px, $header-height);
	background-image: url('../img/alienHead.png');
	background-size: 36px;
	background-repeat: no-repeat;
	background-position: 50%;
	margin: 0 auto;
}

#main-title {
	transition-duration: 300ms;
	position: fixed;
	width: 40%;
	font-size: 15px;
	top: 12px;
	font-weight: 700;
	cursor: default;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sub-title {
	margin: 0 0 0 5px;
	padding: 0 5px;
	color: #333;
	text-shadow: 0 1px 1px whiteSmoke;
	border-radius: 5px;

	&:hover {
		background-color: rgba(0, 0, 0, .1);
	}

	&:active {
		background-color: rgba(0, 0, 0, .3);
	}
}

#wide-refresh {
	padding: 5px 10px;
	font-size: 15px;
}
