%icon {

	&-refresh {
		background: {
			image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMjMuNSAxOGMwIDQuNDE4LTMuNTgyIDgtOCA4cy04LTMuNTgyLTgtOGMwLTQuMDg1IDMuOTE3LTYuNTk1IDgtNi45NVYxNmwxMC03VjhsLTEwLTh2NS4wNDJjLTcuMzQ3LjQzMi0xNCA1LjU2LTE0IDEyLjk1OCAwIDcuNzMyIDYuMjY4IDE0IDE0IDE0czE0LTYuMjY4IDE0LTE0aC02eiIgZmlsbD0iIzQ0NCIvPjwvc3ZnPg0KDQo=');
		}
	}

	&-add {
		background: {
			image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI4IDI4Ij48cGF0aCBkPSJNMTkgMTV2LTJxMC0uNDA2LS4yOTctLjcwM1QxOCAxMmgtNFY4cTAtLjQwNi0uMjk3LS43MDNUMTMgN2gtMnEtLjQwNiAwLS43MDMuMjk3VDEwIDh2NEg2cS0uNDA2IDAtLjcwMy4yOTdUNSAxM3YycTAgLjQwNi4yOTcuNzAzVDYgMTZoNHY0cTAgLjQwNi4yOTcuNzAzVDExIDIxaDJxLjQwNiAwIC43MDMtLjI5N1QxNCAyMHYtNGg0cS40MDYgMCAuNzAzLS4yOTdUMTkgMTV6bTUtMXEwIDMuMjY2LTEuNjEgNi4wMjN0LTQuMzY2IDQuMzY3VDEyIDI2dC02LjAyLTEuNjEtNC4zNy00LjM2N1QuMDAzIDE0dDEuNjEtNi4wMjNUNS45NzcgMy42MSAxMiAydDYuMDI0IDEuNjEgNC4zNjcgNC4zNjdUMjQgMTR6IiBmaWxsPSIjN2FiNjM2Ii8+PC9zdmc+');
		}
	}

	&-edit {
		background: {
			image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMjcgMGMyLjc2IDAgNSAyLjI0IDUgNSAwIDEuMTI2LS4zNzIgMi4xNjQtMSAzbC0yIDItNy03IDItMmMuODM2LS42MjggMS44NzQtMSAzLTF6TTIgMjNsLTIgOSA5LTIgMTguNS0xOC41LTctN0wyIDIzem0yMC4zNjItMTEuNjM4bC0xNCAxNC0xLjcyNC0xLjcyNCAxNC0xNCAxLjcyNCAxLjcyNHoiIGZpbGw9IiM0NDQiLz48L3N2Zz4=');
		}
	}

	&-delete {
		background: {
			image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNOCAyNmMwIDEuNjU2IDEuMzQzIDMgMyAzaDEwYzEuNjU2IDAgMy0xLjM0NCAzLTNsMi0xNkg2bDIgMTZ6bTExLTEzaDJ2MTNoLTJWMTN6bS00IDBoMnYxM2gtMlYxM3ptLTQgMGgydjEzaC0yVjEzem0xNC41LTdIMTlzLS40NDgtMi0xLTJoLTRjLS41NTMgMC0xIDItMSAySDYuNUM1LjY3IDYgNSA2LjY3IDUgNy41VjloMjJWNy41UzI2LjMyOCA2IDI1LjUgNnoiIGZpbGw9IiM0NDQiLz48L3N2Zz4=');
		}
	}
}
