@media only screen and (min-width: 350px) and (min-height: 500px) {

    header {
        background-color: #e7e7e7;
        border-bottom: 1px solid #333;
        border-top: 0;
        box-shadow: rgba(255, 255, 255, .5) 0 32px 20px -10px inset, 0 44px 0 rgba(0, 0, 0, .33) inset;
    }

    #main-menu {
		height: calc(100% - $footer-height);
	}

    .sub {
		padding: 9px 10px;
	}

    .link-wrap {
		border-bottom: 1px solid #ddd;
	}

    #edit-subs {
		height: $footer-height;
	}

    #subs-for-channel {
		max-height: 250px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    .comments-icon {
        background-image: url('../img/comment_48.png');
        opacity: .7;
    }

    .btn-add-sub > div {
		background-image: url('../img/add@2.png');
	}

	.btn-remove-channel,
    .btn-remove-subreddit {
        background-image: url('../img/delete@2x.png');
    }
}

/* Tablet Portrait / 'LargeScreen' */
@media only screen and (min-width: 490px) and (min-height: 500px) {

    .main-view {
        transform: none !important;
    }

	.preview-container,
	.image-viewer {
		padding: $gutter;
	}

	.image-preview {
		border-radius: $corner-radius;
	}
}

@media only screen and (min-width: 490px) and (max-width: 759px) and (min-height: 500px) {

    #menu-container,
	#edit-subs {
		width: 28%;
	}

    .main-view,
    .detail-view {
    	left: 28%;
    	width: 72%;
    }
}

@media only screen and (min-width: 760px) and (max-width: 999px) and (min-height: 500px) {

    #menu-container,
	#edit-subs {
		width: 22%;
	}

    .main-view,
	.detail-view {
		left: 22%;
		width: 78%;
	}
}

/* Tablet Landscape / 'WideScreen' */
@media only screen and (min-width: 1000px) and (min-height: 500px) {

    #menu-container,
	#edit-subs {
		width: 16%;
	}

    .main-view {
        width: 34%;
        left: 16%;
    }

    .detail-view {
        width: 50%;
        right: 0;
		left: auto;
        border-left: 1px solid #555;
        transform: none;
    }

    header,
	.to-comments {
		display: none;
	}

    .link {
		width: 100%;
	}

    .view {
		top: 0;
	}

    .comment-wrap,
	#selftext p {
		font-size: 14px;
	}

	.wrapper {
        height: calc(100% - #{$footer-height}) !important;
    }

	.view-footer {
        display: block;
    }
}

/* Landscape phone */

@media only screen and (max-height: 280px) {
    header {
		height: 32px;
	}

    .view {
		top: 32px;
	}

    #title {
		font-size: 16px;
	}

    .refresh-icon div {
		width: 15px;
		height: 20px;
	}

    #main-title {
		top: 6px;
	}

    .btn-edit-sub {
		margin: -10px 0;
	}

    #subs-for-channel {
		max-height: 130px;
	}
}

@media only screen and (min-width: 1430px) {

	$menu-width:   230px;
	$main-width:   487px;
	$total: $menu-width + $main-width;
	$detail-width: calc(100% - #{$total});

	#menu-container,
	#edit-subs {
		width: $menu-width;
	}

	.main-view {
		width: $main-width;
		left: $menu-width;
	}

	.detail-view {
		width: $detail-width;
	}

	#comments-container {
		width: 700px;
		margin: 0 auto;
	}
}
