@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    .comments-icon {
        background-image: url('../img/comment_48.png');
        opacity: .7;
    }

    .btn-add-sub > div {
		background-image: url('../img/add@2.png');
	}

	.btn-remove-channel,
    .btn-remove-subreddit {
        background-image: url('../img/delete@2x.png');
    }
}
