@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    .comments-icon {
        background-image: url('../img/comment_48.png');
        opacity: .7;
    }

    .btn-add-sub > div {
		background-image: url('../img/add@2.png');
	}

	.btn-remove-channel,
    .btn-remove-subreddit {
        background-image: url('../img/delete@2x.png');
    }
}

/* Landscape phone */

@media only screen and (max-height: 280px) {
    header {
		height: 32px;
	}

    .view {
		top: 32px;
	}

    #title {
		font-size: 16px;
	}

    .refresh-icon div {
		width: 15px;
		height: 20px;
	}

    #main-title {
		top: 6px;
	}

    .btn-edit-sub {
		margin: -10px 0;
	}

    #subs-for-channel {
		max-height: 130px;
	}
}
