@import "themes";

#subs,
#channels {
  padding: 0;
  margin: 0;
  cursor: default;
}

#edit-subs {
    position: fixed;
    bottom: 0;
    width: 140px;
    background-color: $black;
    z-index: 1;
    height: $footer-height;
    border-top: 1px solid rgba(0, 0, 0, .5);
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
    text-align: center;
    display: flex;
    align-items: center;

	@include on-light-theme {
        $border-color: #b3b3b3;
        background-image: linear-gradient(#d5d5d5, #b3b3b3);
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
	}

    @include on-light-theme(iOS7) {
        border: none;
        background: {
            color: $light-sec-bg-color;
            image: none;
        };
    }
}

.btn-edit-sub {
    font-size: 25px;
    color: #777;
    width: 50%;

    @include on-light-theme {
        color: #444;
    }
}

#btn-add-subs {
    font-weight: 500;
}

#btn-edit-subs {
    font-size: 20px;
}

.sub {
    color: whiteSmoke;
    margin: 0;
    font-size: 14px;
    padding: 10px 10px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include on-light-theme {
        color: $light-text-color;
    }

    &--selected {
        text-shadow: 0 0 10px #ccc;
        border-left: 3px solid #4286f5;

        @include on-light-theme {
            border: 0;
            text-shadow: none;
            background-color: $light-active-item;
            color: $white;
        }
    }

    &--active {
        background-image: linear-gradient(#4286F5, #194FDB);

        @include on-light-theme {
            background-image: linear-gradient(#599ad2, #3d6fba);
        }

        @include on-light-theme {
            color: $white;
            background: {
                image: none;
                color: $light-active-item;
            };
        }
    }
}

.channel {
	margin: 0;
	font-size: 14px;
	padding: 5px 10px;
    color: whiteSmoke;

    // Elements
    $title: '> p';
    $subs-container: '> div';
    $subs-name: '> div p';

    @include on-light-theme {
        color: $light-text-color;
    }

    #{$title} {
        margin: 0;
    }

    #{$subs-container} {
        padding-left: 10px;
    }

    #{$subs-name} {
        font-size: 13px;
        color: #bbb;
        margin: 5px 0;
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @include on-light-theme {
            color: lighten($light-text-color, 10%);
        }
    }

    &--active {
		background-image: linear-gradient(#4286F5, #194FDB);

		@include on-light-theme {
            border-left: 3px solid #3d6fba;
        }

        @include on-light-theme {
            border: 0;
            color: $white;
			background: {
				color: $light-active-item;
				image: none;
			}
        }

        #{$title} {
            text-shadow: 0 0 10px #ccc;
        }

        #{$subs-name} {
			color: $col_active-link-subtext;

            @include on-light-theme {
                color: darken($white, 10%);
            }
        }
    }

	&--selected {
		border-left: 3px solid #4286F5;

		@include on-light-theme {
			border-left: 4px solid $light-active-item;
		}
	}
}

#menu-container {
    overflow-y: auto;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    width: 140px;
    z-index: 0;
    height: 100%;
    background-color: #363636;

    @include on-light-theme {
        border-right: 1px solid #d3d3d3;
        background-color: $light-main-bg-color;
    }
}

#menu-container,
#edit-subs {

    @include break-point-min($bp-large) {
        width: $menu-view-large;
    }

    @include break-point-min($bp-large-x) {
        width: $menu-view-large-x;
    }

    @include break-point-min($bp-wide) {
        width: $menu-view-wide;
    }

    @include break-point-min($bp-wide-x) {
        width: $menu-view-wide-x;
    }
}

#main-menu {
    box-shadow: inset -3px 0 10px black;
    height: calc(100% - #{$footer-height});

    @include on-light-theme {
        box-shadow: none;
    }
}

.menu-desc {
    color: rgba(255, 255, 255, 0.82);
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.7) 0 1px 0;
    margin: 0;
    width: 100%;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.20);
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 inset;
    cursor: default;
    position: relative;

    @include on-light-theme {
        background-color: $light-sec-bg-color;
        border: 0;
        text-shadow: none;
        font-weight: 600;
        color: $light-text-color;
    }
}

.option {
    color: whiteSmoke;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 14px;

    @include on-light-theme {
        color: $light-text-color;
    }

    &:last-child {
		margin-bottom: 15px;
	}

    &.tappable-active {
        background-image: linear-gradient(#4286F5, #194FDB);

        @include on-light-theme {
            color: $white;
            background: {
                image: none;
                color: $light-active-item;
            };
        }
    }
}
