#comments-container {

	@include break-point-min($bp-wide-x) {
		width: 700px;
		margin: 0 auto;
	}

	& > .comments-level > .comment-wrap {
		border-left: 0;
		padding-right: 10px;

		> div:first-child {
			padding: 10px 10px 0 10px;
			margin: -10px -10px 0;
			border-top: 1px solid #eee;
		}
	}
}

.comment-wrap {
	user-select: text;
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;

	@include break-point-min($bp-wide) {
		font-size: 14px;
	}
}

.comment-data {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.comment-author p {
	color: $red-comments;
	font-weight: 500;
	margin: 0;
}

.comment-poster {
	position: relative;

	&::before {
		content: 'OP';
		position: absolute;
		top: 0;
		left: 0;
		color: $white;
		background-color: $red-comments;
		border: 1px solid $red-comments;
		padding: 2px 3px;
		border-radius: $corner-radius;
		font-size: 10px;
		font-weight: 700;
	}

	p {
		color: $red-comments;
		font-weight: 500;
		position: relative;
		left: 28px;
		margin: 0;
	}
}

.comment-info {
}

.comment-info a {
	color: #aaa;
	font-weight: 500;
	text-decoration: none;
}

.comment-body {

	p {
		margin: 10px 0;
		color: #3D525E;
	}

	a {
		color: $c_comments-link;
		-webkit-tap-highlight-color: rgba(darken($c_comments-link, 20%), .5);

		&:visited {
			color: $c_comments-link-visited;
		}
	}
}

#link-summary {
	$gray-dark: #4d4d4d;
	background-color: $gray-dark;
	padding: 10px 0 0;

	&::before {
		content: '';
		position: absolute;
		@include size(100%, 300px);
		background-color: inherit;
		transform: translateY(-100%);
		background-image: url('../img/alienHead.png');
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: 90%;
		background-size: 25%;
	}

	p {
		margin: 0;
		padding-left: 10px;
	}

	a {
		text-decoration: none;
	}
}

#summary-title {
	font-size: 16px;
	color: #fafafa;
	font-weight: 700;
	padding-right: 10px;
	padding-bottom: 2px;
}

#summary-time {
	color: white;
	text-align: center;
}

#summary-domain {
	color: #F75433;
	font-weight: 700;
	font-size: 13px;
	display: inline;
}

#summary-author {
	color: #E2E2E0;
	font-weight: 700;

}

#share-tw {
	/* Share button position */
	margin-right: 10px;
}

#summary-sub {
	color: #FAFAFA;
	text-align: left;
}

$gray-dark: #333;

#summary-footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 2px;
	border-bottom: 1px solid $gray-dark;
}

#summary-extra {
	display: flex;
	justify-content: space-between;
	background-color: $gray-dark;
	font-weight: 700;
	padding: 0 10px;
	width: 100%;
	border-top: 1px solid #5d5d5d;
}

#summary-comment-num {
	text-align: right;
	text-decoration: none;
	display: block;
}

#summary-extra p,
#summary-comment-num {
	color: #FAFAFA;

	margin: 0;
	padding: 5px 0;
	width: 33%;
}

#selftext {
	$silver: #e6e6e6;
	$gray: #b9b9b9;
	user-select: text;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: $silver;
	box-shadow: inset 0 1px 1px #FFF, 0 0px 7px rgba(0, 0, 0, 0.3);
	border: 1px solid $gray;

	p {
		margin-top: 5px;

		&:last-child {
			margin-bottom: 5px;
		}

		@include break-point-min($bp-wide) {
			font-size: 14px;
		}
	}

	a {
		color: $c_comments-link;
		-webkit-tap-highlight-color: rgba(darken($c_comments-link, 20%), .5);

		&:visited {
			color: $c_comments-link-visited;
		}
	}
}

.preview-container {
	padding: $gutter 0;

	@include break-point-min($bp-large) {
		padding: $gutter;
	}
}

.image-preview {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	box-shadow: 0 1px 3px #333;
	cursor: zoom-in;

	@include break-point-min($bp-large) {
		border-radius: $corner-radius;
	}
}

.image-viewer {
	@extend %completely-center--translate;
	max-width: 100%;
	max-height: 100%;
	padding: $gutter 0;

	@include break-point-min($bp-large) {
		padding: $gutter;
	}
}
