@import "themes";
@import "mixins";

.subreddit {
	display: flex;
	padding-left: 10px;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid white;
	width: 100%;

	@include on-theme(light) {
		border-top: 0;
	}

	@include on-theme(dark) {
		border-top: none;
		border-bottom-color: $dark-line-color-1;
	}

	> div:first-child {
		width: 85%;
		padding: 10px 5px 10px 0;
	}

	&__title {
		font-weight: 700;
		font-size: 15px;
		margin: 5px 0;
		color: $red;

		@include on-theme(dark) {
			color: $dark-label-color-2;
		}
	}

	&__description {
		margin: 5px 0;

		@include on-theme(dark) {
			color: $dark-text-color-1;
		}
	}
}

.remove-list {
	margin: 0;
	padding: 0;
}

.item-to-edit {
	display: flex;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid white;
	height: 60px;
	color: $black;

	@include on-theme(light-n-dark) {
		border-top: 0;
	}

	@include on-theme(dark) {
		border-bottom-color: $dark-line-color-1;
		color: $dark-text-color-2;
	}

	.sub-name {
		width: 85%;
		text-transform: capitalize;
		font-size: 16px;
		font-weight: 700;
		padding-left: 10px;

		@include on-theme(dark) {
			color: $dark-text-color-1;
		}
	}

	> div {
		@include flex-center(all);
		width: 15%;
	}

	.channel-name {
		width: 70%;
	}
}

.btn-add-sub {
	@include flex-center(all);
	width: 15%;
}

.icon-add {
	color: white;
	border-radius: 50%;
	background-color: $dark-label-color-3;
	width: 36px;
	height: 36px;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
}
