@import 'base';
@import 'themes';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
	user-select: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-size-adjust: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;

	&.ios7 {
		font-family: -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	&.dark {
		background-color: $dark-bg-color-2;
	}
}

a {
	color: #999;
}

@import 'icons';
@import 'view';
@import 'buttons';
@import 'menu';
@import 'link';
@import 'header';
@import 'post-comments';
@import 'options-menu';
@import 'sort-switch';
@import 'subreddits-list';

.new-form {
    width: 300px;
    background-color: #ddd;
    box-shadow: 0 0 15px black;
    position: absolute;
    z-index: 10000;
    border-radius: 7px;
    padding: 5px;
    left: 50%;
    margin-left: -150px;
}

#form-new-channel {

	min-height: 160px;
	top: 55px;

	input {
	    width: 100%;
	    margin-top: 5px;
	    font-size: 15px;
	    outline: none;
	}
}

#subs-for-channel {
    border-radius: 5px 5px 0 0;
    border: 1px solid #aaa;
    border-bottom: 0;
	margin-top: 5px;
	padding: 0 10px;
	background-color: #FFF;
    max-height: 160px;
	overflow-y: auto;

    @include break-point-min($bp-small) {
        max-height: 250px;
    }

	input {
	    border: 0;
	    border-bottom: 1px solid #CCC;
	    padding: 5px;

	    &:last-child {
		    border-bottom: 0;
		    padding-bottom: 10px;
		}
	}
}

#txt-channel {
    border: 2px solid #AAA !important;
    border-radius: 5px;
    padding: 5px 10px;
}

.channel-added-msg {
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    margin: 0;
    background-color: #33B300;
    border-radius: 5px;
}

#form-new-sub {
	height: 50px;
	top: 50%;
	margin-top: -100px;

	input {
        @include size(100%, 40px);
		font-size: 20px;
		outline: none;
	}
}

#add-sub-manual {
	padding: 10px;
}

#remove-wrap {
	height: 100%;
}

.edit-subs-title {
    padding: 10px;
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    text-align: center;
    color: #777;
    background-color: rgba(220, 220, 220, 0.4);
    text-shadow: 0 1px 1px whiteSmoke;

	@include on-theme(dark) {
		background-color: $dark-bg-color-1;
		color: $dark-text-color-1;
		text-shadow: none;
	}
}

#modal {
    @include size(100%);
	@include position(absolute, top-left);
    transition-duration: 300ms;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    z-index: 9999;
}

.modal--closable {
    cursor: zoom-out;
}

.close-form {
	$size: 35px;
	@include size($size);
	position: absolute;
	top: -$size;
	right: 0;
	z-index: 10001;
	color: #F5F5F5;
	font-weight: 700;
	font-size: 30px;
	line-height: 28px;
	text-align: center;
}

.form-left-corner {
    position: absolute;
    top: -35px;
    z-index: 10001;
    left: 0;
}

.about-reeddit,
.move-data {
	top: 80px;
}

.about-reeddit {

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		font-size: 18px;
		text-align: center;

		a {
		    text-decoration: none;
		    letter-spacing: 1px;
		    font-weight: 700;
		    text-shadow: 0 1px 1px white;
		    padding: 12px;
		    display: block;
		    border-top: 1px solid white;
		    border-bottom: 1px solid #999;
		    color: #777;
		}

		a:hover {
			color: inherit;
		}

		&:first-child a {
			border-top: 0;
		}

		&:last-child a {
			border-bottom: 0;
		}
	}

	p {
	    color: #777;
	    text-shadow: 0 1px 1px white;
	    font-size: 12px;
	    text-align: center;
	}

	p a {
		text-decoration: none;
		color: #777;
	}

}

.move-data {

	padding: 20px;

	h3,
	p {
		text-shadow: 0 1px 0 #fff;
	}

	h3 {
		text-align: center;
		margin: 5px 0;
	}

	p {
		text-align: left;
		margin: 10px 0;
	}
}

.move-data-field {
    @include size(100%, 70px);
}

.msg-error {
    background-color: #bbb;
    padding: 5px;
    border-radius: 4px;
    text-shadow: none;
    font-weight: bold;
}

.from-swipe { // for iPhone iOS 7+ "hack"
	transition-duration: 0s !important;
}

@import 'animations';
@import 'footer';
