@import "themes";
@import "globals/variables";

.btn-edit-sub,
.sub,
.channel,
.channel > p,
.option,
#summary-title,
#sorting p {
	transition-duration: 200ms;
}

.btn-edit-sub:hover {
	color: #4286F5;
}

.link,
.sub,
.channel,
.top-buttons > div,
.comments-button,
.btn-edit-sub,
.item-to-edit > div,
.btn-add-sub,
.close-form,
.option,
.btn-side-menu-add,
#remove-sub {
	cursor: pointer;
}

.footer-refresh,
.header-corner,
.footer-sub-title,
.footer-post-title,
#detail-close {
	cursor: default;
}

.channel > div p {
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 15px;
	margin: 4px 0;
}
