@import "themes";

.btn-edit-sub,
.sub,
.channel,
.channel > p,
#summary-title,
.option,
#sorting p {
	transition-duration: 200ms;
}

.btn-edit-sub:hover {
	color: #4286F5;
}

.sub:hover,
.channel:hover > p,
.option:hover,
#sorting p:hover {
	text-shadow: 0 0 10px #CCC;

	@include on-theme(light-n-dark) {
		text-shadow: none;
	}
}

.link,
.sub,
.channel,
.top-buttons > div,
.comments-button,
.btn-edit-sub,
#remove-sub,
.item-to-edit > div,
.btn-add-sub,
.close-form,
#btn-add-new-channel,
.option,
#sorting p,
.btn-side-menu-add {
	cursor: pointer;
}

#detail-close,
.footer-refresh,
.header-corner,
.footer-sub-title,
.footer-post-title {
	cursor: default;
}

@import "desk-webkit-bars";

.channel > div p {
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 15px;
	margin: 4px 0;
}

@import "desk-themes";
